.tab-container {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .tab-item {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .tab-item.active {
    background: var(--color-turquoise);
  }
  
  .tab-item.inactive {
    background: var(--color-darkslategray);
    color: var(--color-coral);
  }
  
  .tab-item.active:hover {
    background-color: #04c7ef;
  }
  
  .tab-item.inactive:hover {
    background-color: #29353b;
  }